@font-face {
    font-family: 'aquire';
    src: url(aquire.otf);
}


.fundo {

    background-color: #171717;
}

.teste{

    color: aqua;
}


/* ########################################### */
/*          navbar                             */
/* ########################################### */


.navbar{
    background-color: #282727;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px 5px 15px rgb(0, 0, 0);

}

.navbox {

    margin-top: 10px;
    margin-bottom: 10px;

}

.brand{
    font-size:30px;
    display: inline-block;
    font-family: 'aquire';
}




/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.corpo{
    margin-right: 500px;

}



.subforum{
    margin-top:10px;

}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    font-family: Arial, Helvetica, sans-serif;


}

.categoria{
    color: azure;

}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 30px;
    margin:4px;
    border-radius: 5px;
    background-color: #1F1E1E;
    border: solid 1px white;
    color: white;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;
}

.footer{
    background-color: #282727;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px -5px 15px rgb(0, 0, 0);
    color: white;
    margin-top: 20px;
    padding: 20px;



}

.midia{
color: rgb(253, 253, 253);
background: rgb(31, 30, 30);
border-width: 1px;
border-style: solid;
border-color: rgb(46, 45, 45);
border-radius: 4px;
display: block;
box-sizing: border-box;
}

.borda.post{
color: rgb(253, 253, 253);
background: rgb(31, 30, 30);
border-width: 1px;
border-style: solid;
border-color: rgb(46, 45, 45);
border-radius: 4px;
display: block;
box-sizing: border-box;
}

.conteudo{
    margin: 20px 20px 20px 0px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.carlos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
