@font-face {
    font-family: 'aquire';
    src: url(aquire.otf);
}


.fundo{

    background-color: #171717;
}
/* ########################################### */
/*          navbar                             */
/* ########################################### */


.navbar{
    background-color: #282727;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px 5px 15px rgb(0, 0, 0);

}

.navbox {

    margin-top: 10px;
    margin-bottom: 10px;

}

.brand{
    font-size:30px;
    display: inline-block;
    font-family: 'aquire';
}




/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.corpo{
    margin-right: 500px;

}


.container{
    margin: 50px 50px 20px 0;


}

.botao{


}


.subforum{
    margin-top:10px;

}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
    font-family: Arial, Helvetica, sans-serif;


}

.categoria{
    color: azure;

}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color: #1F1E1E;
    border: solid 1px white;
    color: white;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;
}

.footer{
    background-color: #282727;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px -5px 15px rgb(0, 0, 0);
    color: white;


}
