/* Importando fonte personalizada */
@font-face {
    font-family: 'aquire';
    src: url(aquire.otf);
}



/* Corpo da página */
body {
    background-color: #212121;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    background-image: url(fundo.png);
    background-repeat:repeat;
}

/* Fundo da página */
.fundo {
    background-color: #171717;
}

/* NavBar */

.avatar {
    vertical-align: middle;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-left: 1470px;
  }

.navbararra {
    color: rgb(253, 253, 253);
    background: rgb(23, 23, 23);
    display: block;
    box-sizing: border-box;
}

.glowing-circle {
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #FF914D;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 10px #FF914D, 0 0 20px #FF914D, 0 0 30px #FF914D, 0 0 40px #FF914D, 0 0 50px #FFDE59, 0 0 60px #FFDE59, 0 0 70px #FFDE59;
    }
    to {
      box-shadow: 0 0 20px #FFDE59, 0 0 30px #FF914D, 0 0 40px #FF914D, 0 0 50px #FF914D, 0 0 60px #FF914D, 0 0 70px #FF914D, 0 0 80px #FF914D;
    }
  }

.navb{
    border-top-left-radius: 4px;
    border-left: none;
    color: inherit;
    cursor: pointer;
    float: left;
    padding: 8px 10px;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    max-width: 110px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    background: rgb(20, 19, 19);
    color: rgb(211, 210, 210);
}

.navfaixa{
    font-size: 13px;
    color: rgb(253, 253, 253);
    background: rgb(40, 39, 39);
    border-bottom: 1px solid rgb(33, 32, 32);
    box-sizing: border-box;
}

.p-header{
    color: rgb(43, 43, 43);
    background: rgb(23, 23, 23);
    display: block;
    box-sizing: border-box;
}

.brand {
    font-size: 30px;
    display: inline-block;
    font-family: 'aquire';
}


/* Container principal */
.container {
    margin: 20px 50px 20px 0;
    color: rgb(253, 253, 253);
    background: rgb(31, 30, 30);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(46, 45, 45);
    border-radius: 4px;
    box-sizing: border-box;
}

/* Títulos das categorias */
.subforum-title {
    padding: 6px 10px;
    margin: 0px;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(46, 45, 45);
    background: linear-gradient(0deg, rgb(31, 30, 30), rgb(31, 30, 30));
    box-sizing: border-box;
}

.categoria {
    color: azure;
}

/* Linha de cada postagem */
.subforum-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

/* Colunas da postagem */
.subforum-column {
    padding: 5px;
    margin: 0px;
    color: rgb(253, 253, 253);
    background: rgb(31, 30, 30);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(46, 45, 45);
    box-sizing: border-box;
}

.subforum-description * {
    margin-block: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    font-size: 45px;
}

/* Rodapé */
.footer {
    background-color: #282727;
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px -5px 15px rgb(0, 0, 0);
    color: white;
}

/* Estilização dos inputs de login */
.form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
}

.form .control {
    margin: 0 0 24px;
}

.form .control input {
    width: 100%;
    padding: 14px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.form .control input:hover,
.form .control input:focus {
    outline: none;
    border: 0;
}

.form .btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}

/* Botão adicional */
.btnadd {
    width: 100%;
    padding: 20px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.btnadd:hover {
    color: #00d4ff;
}
